form label,
form input{
    margin-top: 5px;
    font-size: 12px;    
    text-align: center;
}

:root{
    font-size: 62.5%
}

.form-itens input{
    display: none;
}

.form-main h1{
    font-size: 2.4rem;
}

.form-main h3{
    font-size: 2.2rem;
}

.form-itens{
    display: flex;    
    justify-content: space-between;    
    flex-direction: column;
    display: none;
}  

.form-itens label{
    align-self: center;
    width: 100%;
    display: inline-block;
    position: relative;
}

.form-itens img{
    position: absolute;
    left: 15px;
}

.form-main h3{
    margin-top: 30px;
}

.form-main p{
    margin-top: 20px;
}

.form-main button{    
    margin-bottom: 25px;
    border: 1px solid;
    outline: none;
}

.btn-action button{    
    background-color: #eee;
}

.btn-action button:hover{
    background-color: #fdb813;
}

.form-animation{
    animation: down 300ms;
}



.img-agua,
.img-energia,
.img-gas{    
    align-self: flex-start;
    height: 15px;
}

@media (min-width: 425px){
    form-itens{
        display: flex;    
        justify-content: space-between;    
        flex-direction: column;
    }  
}

@media (min-width: 768px){    
    
    .form-itens{
        display: flex;    
        justify-content: space-between;   
        flex-direction: row; 
        flex-wrap: wrap;
        display: none;
        
    }  
    
    .form-itens label{
        display: inline-block;
        align-self: center;
        width: 49%;        
    }    

    form label{
        padding: 15px;
    }

}

@keyframes down {
    0%{
        opacity: 0.5;
        transform: translateY(-10%);
    } 
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
