*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
}

.container{
    background-image: url('/assets/fundo-2.jpg');    
    background-size: cover;
    
    padding: 80px 40px;
    min-height: 80vh;
}

.container-border{
    
    border: 3px solid #fdb813;
    border-radius: 1.8rem;
    padding: 10px;
}

.content-cadastro{
    background-color: rgb(194, 193, 190, 0.7) ;    
    border-radius: 1.8rem;

    padding: 25px;    
    color: #403f44;
}

.form-cadastro{    
    display: flex; 
    flex-direction: column;   
}

.box{
    display: flex;     
    justify-content: center;   
    margin-top: 20px;
}

.content-cadastro input,
.content-cadastro select{
    padding: 5px;
    margin-right: 5px;
    width: 20%;
}

#rua{
    width: 25%;
}

#numero{
    width: 8%;
}

.box select{
    width: 8%;
}

